@model inConcert.Models.Calendar
@using inConcert.Models;

<span>@Model.name</span>
@using (Html.BeginForm("CreateEvent", "Project", FormMethod.Post))
{
    <div class="col-xs-4 pull-left">
        @Html.TextBox("Title")
        <p>Event Name</p>
    </div>
    <div class="col-xs-4 pull-left">
        @Html.TextBox("Description")
        <p>Description</p>
    </div>
    <div class="col-xs-4 pull-left">
        @Html.TextBox("Time")
        <p>Time</p>
    </div>


   
    <input type="submit" value="Create Event">
}

@foreach (Event evt in Model.events) {
    <br /><br />
    <span>Title: @evt.title</span><br />
    <span>Description: @evt.description</span><br />
    <span>Time: @evt.time</span><br />
}